<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
  <menu>
    <add id="AlbertMage_SpecialArticle::article" title="Special" translate="title" module="AlbertMage_Special" sortOrder="15" parent="Magento_Backend::content" resource="AlbertMage_SpecialArticle::article"/>
    <add id="AlbertMage_SpecialArticle::grid" title="Special Article" module="AlbertMage_Special" sortOrder="10" parent="AlbertMage_SpecialArticle::article" resource="AlbertMage_SpecialArticle::grid" action="special/article/index" />
  </menu>
</config>