<?xml version="1.0"?>
<!--
/**
 * Copyright © PHPDigital, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
  <router id="admin">
    <route id="special" frontName="special">
      <module name="AlbertMage_Special" />
    </route>
  </router>
</config>